/*
 *	Colors: http://www.colourlovers.com/palette/3651233/Cool_Summer_2
 *  Font: http://www.fontsquirrel.com/fonts/Lane
 */

body {
	font-family: lane_-_narrowregular;
	margin: 0;
}

.outer {
	padding: 5%;
}

#breakfast {
	background-color: #BEA8E6;
	color: #FFFFFF;
}

#lunch {
	background-color: #84C3C5;
	color: #FFFFFF;
}

#dinner {
	background-color: #BD7B99;
	color: #FFFFFF;
}

#late_night {
	background-color: #40586F;
	color: #FFFFFF;
}

.text {
	text-align: center;
}