/*
 *  Colors: http://www.colourlovers.com/palette/3651233/Cool_Summer_2
 *  Font: http://www.fontsquirrel.com/fonts/Lane
 */

body {
    font-family: lane_-_narrowregular;
    margin: 0;
}

.btn_container {
    line-height: 3em;
}

.btn {
    width:50%;
    float: left;
    text-align: center;
    color: #FFF;
    background-color: #000;
}

.outer {
    padding: 7%;
}

#breakfast {
    background-color: #BEA8E6;
    color: #FFF;
}

#lunch {
    background-color: #84C3C5;
    color: #FFF;
}

#dinner {
    background-color: #BD7B99;
    color: #FFF;
}

#late_night {
    background-color: #40586F;
    color: #FFF;
}

.text {
    text-align: center;
    font-size: 25;
    text-decoration: underline;
}

@media screen and (max-width: 375px) {
    .text {
        font-size: 10
    }

    .btn {
        font-size: 10
    }
}
